@use '../utils';

html {
  font-size: 62.5%;
}

body {
  color: utils.$Light_Cyan;
  font-family: utils.$font;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: 3px;
  color: utils.$Neon_Green;
}

p {
  font-weight: 800;
  text-align: center;
}

@media (max-width: 1000px) {
  p {
    font-size: 2.4rem;
  }
}
